:root{
--rmk-teal: #b9f7ff;
--rmk-light-blue: #9cd0ec;
--rmk-blue: #4c60b5;
--rmk-navy: #324c75;
--rmk-black: #232324;
--rmk-pink: #ffdaeb;
--rmk-red: #f582b3;
--rmk-yellow: #ffde86;
--rmk-white: #fff4fd;
--rmk-dark-red: #680138;
--rmk-dark-yellow: #6f6330;
--rmk-dark-teal: #1e5553;
--rmk-dark-blue: #363265;
}

/* General Styles */

h1{ /* Used only for titles */
    font-family: d-dindin-bold;
    font-size: 4em;
    text-transform: uppercase;
    margin: 0px;
}

h2{ /* Used only for subtitles */
    font-family: robotobold;
    font-size: 2em;
    margin: 0px;
}

p{
    font-family: robotolight;
    font-size: 1em;
}

img{ /* This prevents all images on the site from overflowing. */
    max-width: 100%;
}

a{
    font-family: robotobold;
    font-size: 1em;
}

body{
    background-color: var(--rmk-white);
    color: var(--rmk-black);
    margin: 0px;
}

/* Typography */

@font-face {
    font-family: 'd-dindin-bold';
    src: url('../fonts/d-din-bold/d-din-bold-webfont.woff2') format('woff2'),
         url('../fonts/d-din-bold/d-din-bold-webfont.woff') format('woff'),
         url('../fonts/d-din-bold/d-din-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-din_condensedregular';
    src: url('../fonts/d-din-condensed/d-dincondensed-webfont.woff2') format('woff2'),
         url('../fonts/d-din-condensed/d-dincondensed-webfont.woff') format('woff'),
         url('../fonts/d-din-condensed/d-dincondensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('r../fonts/roboto/oboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('r../fonts/roboto/oboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* index page */

#index{
    display: block;
    align-items: center;
    background-color: var(--rmk-light-blue);
}

#indexLogo{
    border-radius: 100%;
    margin: auto;
}

.homeBox{
    background-color: var(--rmk-white);
    color: var(--rmk-navy);
    margin-left:auto;
    margin-right:auto;
    margin-top: 2vmin;
    margin-bottom: 5vmin;
    text-align: center;
    align-items: center;
    display: block;
    padding: 3vmin;
    max-width: 600px;
    border-radius: 2em;
    box-shadow: var(--rmk-blue) 20px 20px 20px;
}

.homeBox button{
    border-radius: 100%;
    height: 6em;
    width: 6em;
    margin: 2vh .5vw;
    border: none;
}

#twitter{
    background-color: var(--rmk-light-blue);
}

#linkedin{
    background-color: var(--rmk-navy);
}

#youtube{
    background-color: var(--rmk-red);
}

#instagram{
    background-color: var(--rmk-yellow);
}

.homeBox button:hover{
    cursor: pointer;
}

/* about page */

.aboutSegment{
    background-color: white;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border-radius: 2em;
    box-shadow: pink 0px 10px 20px;
}

.aboutSegment h1{
    text-transform: none;
    text-align: center;
    font-size: 3em;
    color: var(--rmk-dark-red);
    padding-bottom: .5em;
}

.aboutSegment img{
    border-radius: 2em;
    padding-bottom: .5em;
}

#contact{
    margin-bottom: 2em;
}

#contactImage{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
    border-radius: 100%;
}
#aboutMeImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutContact{
    border-radius: 2em;
    max-width: 400px;
    padding: 10px;
    text-align: center;
    border: 5px var(--rmk-red) solid;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    font-family: robotobold;
    color: var(--rmk-dark-red);
}

#resumeLink{
    border-radius: 2em;
    background-color: var(--rmk-red);
    font-family: robotobold;
    max-width: 250px;
    padding: 10px;
    text-align: center;
    color: white;
    transition: background-color .5s;
}

#resumeLink:hover{
    cursor: pointer;
    background-color: var(--rmk-dark-red);
}

@media screen and (min-width: 768px){
    #aboutMain{
        display: grid;
        grid-template-columns: .25fr 1fr 2em 2fr .25fr;
    }
    #aboutMe{
        grid-area: 1 / 4 / 2 / 5;
    }
    #contact{
      grid-area: 1 / 2 / 2 / 3;  
    }
}

@media screen and (min-width: 1024px){
    #aboutMain{
        display: grid;
        grid-template-columns: auto 330px 2em 660px auto;
    }
    #aboutMe{
        grid-area: 1 / 4 / 2 / 5;
    }
    #contact{
      grid-area: 1 / 2 / 2 / 3;  
    }
}

/* Resume Page */

#resume{
    background-color: lightgray;
}

.resumeSegment{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top:1em;
    padding: 20px;
    max-width: 800px;
    border-radius: 2em;
    font-family: roboto;
    box-shadow: darkgray 0px 10px 20px;
}

.resumeSubsegment{
    margin: 1em;
    border-radius: 1.5em;
    padding: 1em;
}

#experience1{
    background-color: var(--rmk-light-blue);
}

#project1{
    background-color: var(--rmk-red);
}

#project2{
    background-color: var(--rmk-yellow);
}

.resumeSubtitle{
    font-size: 1.5em;
}

/* Work Page*/

.workSegment{
    display: grid;
    background-color: white;
    max-width: 800px;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
    box-shadow: darkgrey 0px 10px 20px;
}

.workHeading{
    font-size: 1.5em;
    font-family: d-din-bold;
    text-transform: uppercase;
    padding: 0px 0px .5em 0px;
    margin-bottom: 1.5em;
    border-bottom-width: 2px;
    border-bottom-color: darkgrey;
    border-bottom-style: solid;
}


.workDescription{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.25em;
}

.workLink{
    margin-left: 1em;
    font-size: 1.25em;
    font-family: robotobold;
    text-transform: uppercase;
    background-color: darkgrey;
    color: white;
    max-width: 8em;
    text-align: center;
    border-radius: 2em;
    padding: .5em;
    cursor: pointer;
    transition: background-color .5s;
}

.workLink:hover{
    background-color: var(--rmk-black);
}

.workImage img{
    border-radius: 1em;
}

@media screen and (min-width: 768px){
    
    .workSegment{
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 7.5em 2fr; 
    }

    .workHeading{
        grid-area: 1 / 1 / 2 / 3;
    }

    .workImage{
        grid-area: 2 / 1 / 4 / 2;
    }
}

/* navigation header */

    .navigation{
        background-color: white;
        height: 75px;
        width: 100%;
        display: grid;
        grid-template-columns: 40px auto repeat(4, 70px);
    }

    #navTest{
        box-shadow: darkgrey 0px 10px 10px;
    }

    #navAbout{
        box-shadow: var(--rmk-red) 0px 0px 20px;
    }

    .monogram{
        writing-mode: vertical-rl;
        font-size: .5em;
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
        color: white;
    }

    #monoTest{
        background-color: var(--rmk-black);
    }

    #monoAbout{
        background-color: var(--rmk-dark-red);
    }

    .nav-buttons:hover{
        cursor: pointer;
        transition: background-color .5s;
    }

    .nav-buttons{
        font-size: .3em;
        text-align: center;
        padding-top: 7px;
    }

    .nav-buttons img {
        border-radius: 100%;
    }

    /* about button */

        #nav-about{
            color: var(--rmk-dark-red);
            grid-area: 1/3/2/4;
        }

        #nav-about:hover{
            background-color: var(--rmk-pink);
        }

    /* work button */

        #nav-work{
            color: var(--rmk-dark-yellow);
            grid-area: 1/4/2/5;
        }

        #nav-work:hover{
            background-color: var(--rmk-yellow);
        }


    /* art button */

        #nav-art{
            color: var(--rmk-dark-teal);
            grid-area: 1/5/2/6;
        }

        #nav-art:hover{
            background-color: var(--rmk-teal);
        }

    /* blog button */

        #nav-blog{
            color: var(--rmk-dark-blue);
            grid-area: 1/6/2/7;
        }

        #nav-blog:hover{
            background-color: var(--rmk-light-blue);
        }

    #bodyTest{
        background-color: lightgray;
    }

@media screen and (min-width: 320px){
}

@media screen and (min-width: 450px){
}

@media screen and (min-width: 960px){
}
