:root{
--rmk-teal: #b9f7ff;
--rmk-light-blue: #9cd0ec;
--rmk-blue: #4c60b5;
--rmk-navy: #324c75;
--rmk-black: #232324;
--rmk-pink: #ffdaeb;
--rmk-red: #f582b3;
--rmk-yellow: #fdeec4;
--rmk-yellow-but-not-really: #f1ca5d;
--rmk-orange: #ffd092;
--rmk-white: #f0f0f0;
--rmk-dark-red: #680138;
--rmk-dark-yellow: #6f6330;
--rmk-dark-teal: #1e5553;
--rmk-dark-blue: #363265;
--youtube: #ff0015;
--linkedin: #0077b4;
--twitter: #1da1f2;
--instagram: #ff63b3;
--spotify: #43ab55;
--youtube-dark: #81004b;
--linkedin-dark: #01393f;
--twitter-dark: #03484b;
--instagram-dark: #4b0247;
}

/* General Styles */

h1{ /* Used only for titles */
    font-family: d-dindin-bold;
    font-size: 4em;
    text-transform: uppercase;
    margin: 0px;
}

h2{ /* Used only for subtitles */
    font-family: robotobold;
    font-size: 2em;
    margin: 0px;
}

p{
    font-family: robotolight;
    font-size: 1em;
}

img{ /* This prevents all images on the site from overflowing. */
    max-width: 100%;
}

a{
    font-family: robotobold;
    font-size: 1em;
    text-decoration: none;
}

body{
    background-color: var(--rmk-white);
    color: var(--rmk-black);
    margin: 0px;
}

video{ 
    width: 100% !important;
    height: auto !important;
}

/* Typography */

@font-face {
    font-family: 'd-dindin-bold';
    src: url('../fonts/d-din-bold/d-din-bold-webfont.woff2') format('woff2'),
         url('../fonts/d-din-bold/d-din-bold-webfont.woff') format('woff'),
         url('../fonts/d-din-bold/d-din-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-din_condensedregular';
    src: url('../fonts/d-din-condensed/d-dincondensed-webfont.woff2') format('woff2'),
         url('../fonts/d-din-condensed/d-dincondensed-webfont.woff') format('woff'),
         url('../fonts/d-din-condensed/d-dincondensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('r../fonts/roboto/oboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('r../fonts/roboto/oboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* index page */

#index{
    display: block;
    align-items: center;
    background-color: var(--rmk-white);
}

#indexLogo{
    margin: auto;
    border-radius: 2em;
    box-shadow: grey 0px 10px 20px;

}

.homeBox{
    color: var(--rmk-navy);
    margin-left:auto;
    margin-right:auto;
    margin-top: 7em;
    margin-bottom: 2em;
    text-align: center;
    align-items: center;
    display: block;
    padding: 3vmin;
    max-width: 600px;
    /* line-height: 4em; */
}

.homeBox header{
    margin-top: 1em;
}

.social{
    border-radius: 100%;
    height: 4em;
    width: 4em;
    margin: 2vh 1vw;
    border: none;
    max-width: 100px;
    display: flex;
    transition: background-color .5s;
}

.socials{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.social img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

.homeLinks{
    display: block;
    padding: .5em;
    max-width: 400px;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    color: var(--rmk-white);
    transition: background-color .5s;
    text-transform: uppercase;
    font-size: 1.5em;
}

.homeBox a:hover{
   cursor: pointer;
}

#indexAbout{
    background-color: var(--rmk-red);
}

#indexAbout:hover{
    background-color: var(--rmk-dark-red);
}

#indexWork{
    background-color: var(--rmk-yellow-but-not-really);
}

#indexWork:hover{
    background-color: var(--rmk-dark-yellow);
}

#indexArt{
    background-color: var(--rmk-light-blue);
}

#indexArt:hover{
    background-color: var(--rmk-dark-teal);
}

#indexBlog{
    background-color: var(--rmk-blue);
}

#indexBlog:hover{
    background-color: var(--rmk-dark-blue);
}

#twitter{
    background-color: var(--twitter);
}

#linkedin{
    background-color: var(--linkedin);
}

#youtube{
    background-color: var(--youtube);
}

#instagram{
    background-color: var(--instagram);
}

#twitter img{
    margin-top: 30%;
    max-height:37.5%;
    max-width: 75%;
}

#youtube img{
    margin-top: 30%;
    max-height:37.5%;
    max-width: 75%;
}

#linkedin img{
    max-height: 45%;
    max-width: 45%;
    margin-top: 25%;
}

#instagram img{
    max-height: 50%;
    max-width: 50%;
    margin-top: 25%;
}

#twitter:hover{
    background-color: var(--twitter-dark);
}

#linkedin:hover{
    background-color: var(--linkedin-dark);
}

#youtube:hover{
    background-color: var(--youtube-dark);
}

#instagram:hover{
    background-color: var(--instagram-dark);
}



.homeBox button:hover{
    cursor: pointer;
}

/* about page */

.aboutSegment{
    background-color: white;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: pink 0px 10px 20px;
}

.aboutSegment h1{
    text-align: center;
    font-size: 3em;
    color: black;
    padding-bottom: .5em;
}

#aboutEmphasis{
    margin-top: .5em;
    font-size: 1.3em;
}

#contact{
    margin-bottom: 2em;
}

#contactImage{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
    border-radius: 100%;
}

#contactList{
    list-style: none;
    padding: 0;
}

#aboutMeImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5em;
}

.aboutContact{
    display: block;
    border-radius: 2em;
    max-width: 400px;
    padding: 10px;
    text-align: center;
    border: 5px var(--rmk-red) solid;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    font-family: robotobold;
    color: var(--rmk-dark-red);
    transition: all .5s;
    transition-property: background-color, color;
}

#lnkn{
    border: 5px var(--linkedin) solid;
}

#twttr{
    border: 5px var(--twitter) solid; 
}

#insta{
    border: 5px var(--instagram) solid; 
}

#ytb{
    border: 5px var(--youtube) solid; 
}

#spotify{
    border: 5px var(--spotify) solid; 
}

.aboutContact:hover{
    background-color: var(--rmk-red);
    color: white;
}

#lnkn:hover{
    background-color: var(--linkedin);
}

#twttr:hover{
    background-color: var(--twitter);
}

#instahover{
    background-color: var(--instagram);
}

#ytb:hover{
    background-color: var(--youtube);
}
#spotify:hover{
    background-color: var(--spotify);
}

#firstResume{
    margin-top: 100px;
}

#lastResume{
    margin-bottom: 50px;
}

#resumeLink{
    background-color: var(--rmk-red);
    color: white;
    transition: background-color .5s;
}

#resumeLink:hover{
    cursor: pointer;
    background-color: var(--rmk-dark-red);
}

#aboutMain{
    padding-top: 75px;
}

@media screen and (min-width: 768px){
    #aboutMain{
        display: grid;
        grid-template-columns: .25fr 1fr 2em 2fr .25fr;
    }
    #aboutMe{
        grid-area: 1 / 4 / 2 / 5;
        border-radius: 2em;
    }
    #contact{
      grid-area: 1 / 2 / 2 / 3;  
      border-radius: 2em;
    }
    #aboutEmphasis{
        font-size: 1.6em;
    }
}

@media screen and (min-width: 1024px){
    #aboutMain{
        display: grid;
        grid-template-columns: auto 330px 2em 660px auto;
    }
    #aboutMe{
        grid-area: 1 / 4 / 2 / 5;
    }
    #contact{
      grid-area: 1 / 2 / 2 / 3;  
    }
}

/* Resume Page */

#resume{
    background-color: lightgray;
}

.resumeSegment{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top:1em;
    padding: 20px;
    max-width: 800px;
    font-family: roboto;
    box-shadow: darkgray 0px 10px 20px;
}

@media screen and (min-width: 845px){
    .resumeSegment{
        border-radius: 2em;
    }
}

.resumeSegment h2{
    text-transform: uppercase;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 2px lightgray solid;
}

.resumeSubsegment{
    margin: 1em;
    border-radius: 1.5em;
    padding: 1em;
}

#experience1{
    background-color: var(--rmk-light-blue);
}

#experience1 h2{
    border-bottom: 2px var(--rmk-blue) solid;
}

#project1{
    background-color: var(--rmk-red);
}

#project1 h2{
    border-bottom: 2px var(--rmk-dark-red) solid;
}

#project2{
    background-color: var(--rmk-yellow);
}

#project2 h2{
    border-bottom: 2px var(--rmk-dark-yellow) solid;
}

.resumeSubtitle{
    font-size: 1.5em;
}

/* Work Page*/

.workSegment{
    display: grid;
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
    box-shadow: var(--rmk-orange) 0px 10px 20px;
}

.workArticle{
    display: block;
    background-color: white;
    max-width: 800px;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: var(--rmk-orange) 0px 10px 20px;
}

.workSubheading{
    font-family: roboto;
    font-style: italic;
    color: gray;
}

.workArticle .workImage{
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.workHeading{
    font-size: 1.05em;
    font-family: d-din-bold;
    text-transform: uppercase;
    padding: 0px 0px .5em 1em;
    float: bottom;
}


.workDescription{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.25em;
}

#workLast{
    margin-bottom: 2em;
}

.workLink{
    margin-left: 1em;
    font-size: 1.25em;
    font-family: robotobold;
    text-transform: uppercase;
    background-color: var(--rmk-yellow-but-not-really);
    color: white;
    max-width: 8em;
    text-align: center;
    border-radius: 2em;
    padding: .5em;
    cursor: pointer;
    transition: background-color .5s;
}

.workLink:hover{
    background-color: var(--rmk-dark-yellow);
}

#vertical video{
    max-width: 50%;
}

@media screen and (min-width: 768px){
    
    .workSegment{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4em 2fr; 
    }

    .workHeading{
        grid-area: 1 / 2 / 2 / 3;
    }

    .workImage{
        grid-area: 1 / 1 / 4 / 2;
    }
}

@media screen and (min-width: 1224px){
    .workHeading{
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1270px){
    .workSegment{
        border-radius: 2em;
    }
}

/* Main Art Page */
#mainArt{
    display: grid;
    max-width: 1024px;
    margin-top: 120px;
    margin-bottom: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: var(--rmk-light-blue) 10px 10px 20px;
}

#mainArt a{
    padding: .5em;
    transition: padding .5s;
    margin-left: auto;
    margin-right: auto;
}

#mainArt a:hover{
    padding: 0px;
}

#mainArt picture{
    max-width: 100%;
}

/* Individual Art*/

#singleArt{
    margin-top: 120px;
    padding: 2em;
    max-width: 800px;
    display:flex;
    flex-flow: column nowrap;
    background-color: white;
    box-shadow: var(--rmk-blue) 0px 10px 20px;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}
#singleArt picture{
    order: 1;
    padding: 1em;
    align-self: center;
}

#singleArt img{
    border-radius: 1em;
}

#singleArt h1{
    color: var(--rmk-dark-teal);
    order: 2;
    padding: .25em;
    align-self: flex-start;
    font-size: 3em;
    
}
@media screen and (min-width: 700px){
    #singleArt h1{
        font-size: 4em;
    }
}

#artLink{
    border-radius: 2em;
    background-color: var(--rmk-light-blue);
    font-family: robotobold;
    min-width: 150px;
    padding: 10px;
    text-align: center;
    color: white;
    transition: background-color .5s;
    order: 4;
    text-transform: uppercase;
}

#artLink:hover{
    cursor: pointer;
    background-color: var(--rmk-dark-teal);
}

#artDescription{
    display: flex;
    order: 3;
    flex-flow: column nowrap;
    border-top-width: 2px;
    border-top-color: var(--rmk-teal);
    border-top-style: solid;
    padding-top: 1em;
    font-size: 1.25em;
}

#artDescription p{
    padding-left: 1em;
    padding-right: 1em;
}
@media screen and (min-width: 700px){
    #artDescription{
        flex-flow: row nowrap;
    }
}

@media screen and (min-width: 900px){
    #mainArt{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: repeat(3 ,1fr);
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    #mainArt{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

/* Blog Page */

#firstBlog{
    margin-top: 6em;
}

.blogEntry{
    display: block;
    background-color: white;
    max-width: 1000px;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: var(--rmk-navy) 0px 10px 20px;
}

.blogSubheading{
    font-family: roboto;
    font-style: italic;
    color: gray;
}

.blogEntry .blogImage{
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.blogHeading{
    font-size: 1.5em;
    font-family: d-din-bold;
    text-transform: uppercase;
    padding: 0px 0px .5em 0px;
    margin-bottom: 1.5em;
    border-bottom-width: 2px;
    border-bottom-color: var(--rmk-blue);
    border-bottom-style: solid;
}


.blogContents{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.25em;
}

#blogLast{
    margin-bottom: 2em;
}

.blogImage img{
    border-radius: 1em;
}

/**/


/* navigation header */

    nav{
        position: fixed;
        top: 0px;
        background-color: white;
        height: 75px;
        width: 100%;
        display: grid;
        grid-template-columns: 40px auto repeat(4, 70px);
    }

    #burgerMenu{
        position: fixed;
        top: 43px;
        background-color: white;
        height: 100%;
        width: 100%;
        display: none;
        font-size: 2em;
        list-style-type: none;
        text-transform: uppercase;
    }

    #burgerMenu .homeLinks{
        position: relative;
        height:75px;
        padding: .1em;
        left: -40px;
        display: flex;
        flex-flow: column nowrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;;
        max-width: 100%;
        text-align: center;
        color: white;
    }

    #navTest{
        box-shadow: darkgrey 0px 10px 10px;
    }

    #navAbout{
        box-shadow: var(--rmk-red) 0px 0px 20px;
    }

    #navWork{
        box-shadow: var(--rmk-orange) 0px 0px 20px;
    }

    #navArt{
        box-shadow: var(--rmk-blue) 0px 0px 20px;
    }

    #navBlog{
        box-shadow: var(--rmk-navy) 0px 0px 20px;
    }

    .monogram{
        writing-mode: vertical-rl;
        font-size: .5em;
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
        color: white;
    }

    .monogram:hover{
        cursor:pointer;
    }

    #monoTest{
        background-color: var(--rmk-black);
    }

    #monoAbout{
        background-color: var(--rmk-dark-red);
    }

    #monoWork{
        background-color: var(--rmk-dark-yellow);
    }

    #monoArt{
        background-color: var(--rmk-dark-teal);
    }

    #monoBlog{
        background-color: var(--rmk-dark-blue);
    }


    .nav-buttons:hover{
        cursor: pointer;
        transition: background-color .5s;
    }

    .nav-buttons{
        font-size: 1.3em;
        text-align: center;
        font-family: d-dindin-bold;
        text-transform: uppercase;
        margin: 0px;
        padding-top: 7px;
        display: none;
    }

    .nav-buttons img {
        max-height: 40px;
    }

    /* about button */

        #nav-about{
            color: var(--rmk-dark-red);
            grid-area: 1/3/2/4;
        }

        #nav-about:hover{
            background-color: var(--rmk-pink);
        }

    /* work button */

        #nav-work{
            color: var(--rmk-dark-yellow);
            grid-area: 1/4/2/5;
        }

        #nav-work:hover{
            background-color: var(--rmk-yellow);
        }


    /* art button */

        #nav-art{
            color: var(--rmk-dark-teal);
            grid-area: 1/5/2/6;
        }

        #nav-art:hover{
            background-color: var(--rmk-teal);
        }

    /* blog button */

        #nav-blog{
            color: var(--rmk-dark-blue);
            grid-area: 1/6/2/7;
        }

        #nav-blog:hover{
            background-color: var(--rmk-light-blue);
        }

/* Hamburger Button Test*/

#hamburger{
    grid-area: 1/6/2/7;
    border: none;
    background-color: white;
    cursor: pointer;
}

@media screen and (min-width: 500px){
    #hamburger{
            display: none;
        }
    .nav-buttons{
        display: block;
    }
    #burgerMenu{
        display:none !important;
    }
}



    #bodyTest{
        background-color: lightgray;
    }

    #bodyWork{
        margin-top: 100px;
        background-color: var(--rmk-yellow);
    }

    #bodyArt{
        background-color: var(--rmk-teal);
    }

    #bodyBlog{
        background-color: var(--rmk-light-blue);
    }

@media screen and (min-width: 320px){
}

@media screen and (min-width: 450px){
}

@media screen and (min-width: 960px){
}
