html{
    overflow: hidden;
    margin: 0px;
    border: 8px;
    border-color: black;
}

body{
    height: 100%;
    overflow: auto;
    background-color: black;
}

main{
    justify-content: space-between;
}

.animation{
    display: flex;
    height: 20em;
    width: 50%;
    animation: testing 4s linear 0s infinite normal;
    overflow: hidden;
    border-radius: 100%;
    background-color: white;
    flex-wrap: wrap;
    z-index:2;
    position: absolute;
    top: 0em;
}

#dark{
    background-color: black;
    position: absolute;
    top: 0em;
    animation: testing 4s linear 0s infinite normal;
    animation-delay: -1s
}

#light2{
    animation-delay: -2s;
    position: absolute;
    top: 0em;
}

#dark2{
    background-color: black;
    animation-delay: -3s;
    position: absolute;
    top: 0em;
}

.bottom{
    height: 40em;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 10em;
    right: 2em;
    display: flex;
    z-index: 1;
}

@keyframes testing{
    0%{
        margin-left: -100%
    }

    100%{
        margin-left: 100%;
    }

    
}
